.container {
  display: flex;
  gap: 0.5rem;
  
  /* Thin line */
  border-bottom: 1px solid var(--color-background);
  padding-bottom: 0.75rem;
  margin-bottom: 2rem;
}


.tabBtn {
  appearance: none;
  border: none;
  background: transparent;
  cursor: pointer;
  
  padding: 0.5rem 1rem;
  border-radius: 8px;
  
  font-family: var(--font-body);
  font-size: 0.8rem;
  color: var(--text-dark-2);
  transition: all 0.2s ease;
  user-select: none;
  
  display: flex;
  align-items: center;
  gap: 6px;
}

.tabBtn:hover {
  background-color: var(--color-background);
}

.active {
  background-color: var(--color-background);
  color: var(--text-light);
  font-weight: 400;
  
}

.count {
  font-size: 0.85em;
  opacity: 0.8;
}