.badge {
  display: inline-flex;
  padding: 0.3rem 0.9rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 37.5rem;
  white-space: nowrap;
}

.purple {
  background-color: var(--workshop-color);
  color: var(--workshop-text-color);
}

.green {
  background-color: var(--group-color);
  color: var(--group-text-color);
}

.blue {
  background-color: var(--light-blue-color);
  color: var(--border-color);
}

.white {
  background-color: var(--color-background-light);
  color: var(--text-dark-2);
}