.container {
  position: relative;
  width: 100%;
  height: 2rem;
  background-color: var(--color-background-light);
  border-radius: 1.25rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  box-shadow: inset 0 0.0625rem 0.1875rem rgba(0,0,0,0.05);

  /* Smooth transition for click effect */
  transition: transform 0.1s ease-in-out;
}

/* Click animation (Shrink effect) */
.container:active {
  transform: scale(0.97);
}

.fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--light-blue-color);
  border-radius: 1.25rem;
  transition: width 0.4s ease-in-out;
  box-shadow: 0 0 0.75625rem 0 rgba(64, 94, 94, 0.35) inset;
  z-index: 1;
}

.text {
  position: relative;
  z-index: 2;
  font-family: var(--font-body);
  font-size: 0.9rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 6px;
}