.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--color-background-light);
  color: var(--text-dark-1);

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  flex-shrink: 0;
  box-shadow: var(--shadow);
}