.container {
  background: none;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s;
  text-decoration: none;
  height: 100%;
}

.container:hover {
  opacity: 0.7;
}

.icon {
  width: 32px;
  height: 32px;
  transition: transform 0.2s ease;
}

.rotate {
  transform: rotate(180deg);
}