.container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--color-background-light);
  box-shadow: var(--shadow);
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--text-dark-2);
}

.container:hover {
  transform: translateY(-0.0625rem);
}

.container:active {
  transform: scale(0.92);
  background-color: var(--input-background);
}

.arrow {
  transition: transform 0.2s ease;
}

.rotate {
  transform: rotate(180deg);
}