.container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--color-background-light);
  box-shadow: var(--shadow);
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--text-dark-2);
}

.sizeRight {
  width: 2.8rem;
  height: 2.8rem;
}

.sizeLeft {
  width: 2.2rem;
  height: 2.2rem;
}

.container:active {
  transform: scale(0.92);
  background-color: var(--input-background);
}

.arrow {
  width: auto;
  height: 1rem;
  display: block;
  transition: transform 0.2s ease;
}

.container:hover .arrow:not(.rotate) {
  transform: translateX(-4px);
}

.rotate {
  transform: rotate(180deg);
}

.container:hover .rotate {
  transform: rotate(180deg) translateX(-4px);
}