/* Container for the link */
.container {
  display: inline-flex;
  align-items: center;
  
  color: var(--text-dark-2); 
}

/* SVG Icon styling */
.icon {
  width: 2rem;
  height: 2rem;
  stroke-width: 1.5;
}