/* Style for a button */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  
  border: none;
  border-radius: 9999px;
  padding: 0.5rem 1.5rem;
  width: 3.6rem;
  height: 2rem;
  
  font-family: var(--font-body);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 1.08px;

  cursor: pointer;
  transition: all 0.2s ease;
  
  /* Prevents text selection during click */
  user-select: none;

  /* Glassmorphism effect */
  backdrop-filter: var(--glass-blur);
  -webkit-backdrop-filter: var(--glass-blur); /* for Safari */
}

.btn:active {
  transform: scale(0.98); /* effect on click */
}

/* --- Variants (different styles) --- */

/* Dark background button */
.primary {
  background-color: rgba(var(--glass-base-rgb-dark), 0.7);
  color: var(--color-primary-light);

}
.primary:hover {
  background-color: var(--color-background);
}

/* Light background button */
.secondaryGray {
  background-color: rgba(var(--glass-base-rgb-dark), 0.2);
  color: var(--color-primary-dark);
}
.secondaryGray:hover {
  background-color: var(--color-background);
}

.secondaryLight {
  background-color: rgba(var(--glass-base-rgb-light), 0.47);
  color: var(--color-primary-dark);
}
.secondaryLight:hover {
  background-color: var(--color-background-light);
}

/* Icon-only button (for Whatsapp) */
.iconOnly {
  background-color: rgba(var(--glass-base-rgb-light), 0.47);
  color: var(--color-primary-dark);
  padding: 0.5rem;
  width: 2.1rem;
  height: 2.1rem;
}

.iconOnly:hover {
  background-color: var(--color-background-light);
}

/* Button size */
.sm {
  font-size: 0.75rem;
  height: 2rem;
}

.md {
  font-size: 1rem;
  height: 2.6rem;
}

.lg {
  font-size: 1rem;
  height: 3.063rem;
}