.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.label {
  color: var(--color-primary-dark); 
  
  font-family: var(--font-body);
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
}

.spinner :global(.MuiCircularProgress-circle) {
  color: var(--color-primary-dark);
}