.card {
  border-radius: 1.875rem;
  padding: 0.8rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background: var(--admin-card-background);
  cursor: pointer;
  transition: 0.2s;
  min-height: 8.75rem;
  flex-shrink: 0;
  
  /* This allows us to position the badge absolutely inside the card */
  position: relative;
}

.card:hover {
  background-color: var(--color-background-light);
}

.rightSection {
  display: flex;
  align-items: flex-start;
  gap: 0.9375rem;
  flex: 1;
}

.imageContainer {
  width: 6.25rem;
  
  height: auto; 
  min-height: 8.75rem; 
  
  border-radius: 1.75rem; 
  background: var(--color-background-light);
  overflow: hidden;
  flex-shrink: 0;
  
  align-self: stretch; 
  
  display: flex; 
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.noImage {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-body);
  font-size: 0.75rem;
  color: var(--text-dark-2);
  text-align: center;
}

/* --- Text Column --- */
.textColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.25rem;
  padding-top: 0.375rem;
  padding-bottom: 1rem; 
  
  flex: 1;
}

.groupName {
  font-family: var(--font-titles);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.3;
  text-align: right;
  color: var(--text-dark-1);
  align-self: stretch;
  margin-bottom: 0.25rem;
}

.audienceLabel, 
.mentorName {
  text-align: right;
  align-self: stretch;
  color: var(--text-dark-2);
  line-height: 1.2;
}

.mentorContainer {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  margin-top: 0.125rem;
  margin-bottom: 1rem;
}

/* --- Badge Section --- */
.badgeWrapper {
  /* bsolute positioning takes the badge out of the flow */
  position: absolute;
  
  bottom: 0.8rem;
  left: 1rem;
  
  z-index: 2; /* Ensures badge is above other elements */
}

.requestBadge {
  font-family: var(--font-body);
  font-size: 1rem;
  font-weight: 500;
  line-height: 125%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  gap: 0.375rem;
  width: 100%;
}

/* --- Arrow Animation --- */
.arrowIcon {
  display: block; 
  transition: transform 0.2s ease-in-out;
  margin-top: 0.1875rem;
  margin-right: 0.5rem;
} 

.card:hover .arrowIcon,
.card:active .arrowIcon {
  transform: translateX(-0.25rem);
}

/* --- Mobile Responsive --- */
@media (max-width: 37.5rem) {
  .card {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
  }
}