.wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navBar {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: fit-content;
  height: fit-content;
  background-color: var(--color-secondary);
  margin: 0;
  justify-content: center;
  align-items: center;
  border-radius: 34px;
  backdrop-filter: blur(17.5px);
  font-size: 0.87rem;
  font-weight: 400;
  padding: 0.25rem 0;
}

.tabsContainer {
  display: flex;
  gap: 0;
  justify-content: center;
  width: 100%;
}

.tabsContainer a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

/* Tab Styles */
.activeTab {
  display: block;
  transition: background-color 0.3s, box-shadow 0.2s, transform 0.1s;
  color: var(--text-dark-1);
  text-align: center;
  border-radius: 30px;
  opacity: 0.8;
  background: #FFF;
  box-shadow: 0 4px 4px 0 rgba(255, 255, 255, 0.25) inset, 0 4px 4px 0 rgba(0, 0, 0, 0.02);
  padding: 0.3125rem 0.75rem;
  margin: 0 0.25rem;

}

.activeTab:active {
  background-color: color-mix(in srgb, var(--text-dark-2), transparent 50%);
  box-shadow: 0 2px 8px color-mix(in srgb, var(--text-dark-2), transparent 85%);
  transform: scale(0.96);
}

.inactiveTab {
  display: block;
  transition: background-color 0.3s ease;
  color: var(--text-dark-1);
  text-align: center;
  padding: 0.3125rem 0.75rem;
  margin: 0 0.25rem;
}

/* Icons Area */
.iconsContainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  z-index: 10;
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 10px;
}

.profileIconLink {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  border: none;
  outline: none;
  text-decoration: none;
}

.profileIcon {
  width: 32px;
  height: 32px;
  background-color: #FAFAF9;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  border: none;
  outline: none;
  padding: 6px;
  box-sizing: border-box;
  object-fit: contain;
}

.profileIconLink.active .profileIcon {
  background-color: #BFD7D9;
}