.card {
  width: 100%;
  height: 100px;
  background-color: rgba(175, 207, 207, 0.73);
  border-radius: 16px;
  position: relative;
  flex-shrink: 0;
  scroll-snap-align: center;
  overflow: hidden; /* Ensures content doesn't spill out of rounded corners */
}

/* Container for the delete button */
.deleteContainer {
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 10;
}

.deleteButton {
  background-color: var(--color-background-light);
  transition: background-color 0.2s;
}

.deleteButton:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: var(--text-dark-2);
}


.cardContent {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
  padding: 24px;
}

.announcementRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  gap: 12px;
}

.iconWrapper {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

/* Override MUI's default padding-bottom on the last child */
.cardContent:last-child {
  padding-bottom: 24px;
}

.text {
  white-space: pre-wrap;
  direction: rtl;
  text-align: right;
  width: 100%;
  color: #3A3A36;
  font-family: Rubik;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 132%; 
}