.card {
  width: 100%;
  height: 100%;
  background-color: var(--light-blue-color);
  border-radius: 1.8125rem;
  position: relative;
  flex-shrink: 0;
  scroll-snap-align: center;
  overflow: hidden; /* Ensures content doesn't spill out of rounded corners */
  backdrop-filter: blur(1.25rem);
  box-shadow: none
}

/* Container for the delete button */
.deleteContainer {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  z-index: 10;
}

.deleteButton {
  transition: background-color 0.2s;
  color: var(--text-dark-2);
}

.deleteButton:hover {
  color: var(--text-dark-2);
  opacity: 0.5;
}

.cardContent {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow-y: auto;
  padding: 1.5rem 1rem 1.5rem 2rem;
  gap: 0.5rem;
}

/* Override MUI's default padding-bottom on the last child */
.cardContent:last-child {
  padding-bottom: 1.5rem;
}

.text {
  white-space: pre-wrap;
  direction: rtl;
  text-align: right;
  width: 100%;
  color: var(--text-dark-2);
  font-weight: 500;
  line-height: 132%;
  font-family: var(--font-body);
}