.cardContent {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: stretch; /* Stretches columns to equal height */
  
  padding: 0.625rem 1.125rem;
  gap: 0.6875rem;
  margin-bottom: 0.625rem;
  background-color: var(--admin-card-background);
  border-radius: 1.875rem;
  width: 100%;
}

/* Text Section */
.rightColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.1875rem;
  flex: 1;
  min-width: 0; /* Ensures truncation works */
}

.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  
  color: var(--text-dark-1);
  text-align: right;
  font-family: var(--font-titles);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 132%; 
}

/* Badges & Time Section */
.leftColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

/* Standard styles from previous versions */
.audienceLabel, 
.mentorName {
  text-align: right;
  color: var(--text-dark-2);
}

.mentorContainer {
  display: flex;
  align-items: center;
  gap: 0.375rem;
}