.container {
  width: 100%;
  margin-bottom: 2rem;
}

.header {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 0.438rem;
}

.title {
  color: var(--text-dark-1);
}

.addButton {
  min-width: auto; 
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--input-background); 
  color: var(--text-dark-2); 
  transition: all 0.2s ease-in-out;
  box-shadow: var(--shadow);
}

.addButton:hover {
  transform: scale(1.05);
}

.addButton:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}