.statusOptions {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.statusOption,
.statusOptionSelected {
    padding: 0.875rem 1.125rem;
    border-radius: 0.9375rem;
    border: 0.05rem solid var(--text-dark-2);
    background: white;
    color: var(--text-dark-1);
    font-size: 1.1rem;
    font-family: var(--font-body);
    cursor: pointer;
    transition: background 0.15s, color 0.15s;
    outline: none;
    text-align: right;
    width: 84%;
    margin-bottom: 1rem;
    user-select: none;
    /* Center align specifically for these cards */
    margin-left: auto;
    margin-right: auto;
}

.statusOptionSelected {
    background: rgba(175, 207, 207, 0.6);
    color: var(--text-dark-1);
    border-color: #8EB1B1;
}

/* --- BUTTONS STYLING --- */
.buttonsContainer {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    width: 100%; 
    gap: 1.313rem; 
    margin-top: 1.5rem;
    margin-bottom: 3.438rem;
}

.button {
    border-radius: 1.875rem;
    justify-content: center;
    color: var(--text-dark-1);
    text-align: right;
    font-family: var(--font-titles);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    height: 2.563rem;
    backdrop-filter: blur(0.9375rem);
    z-index: 1000;
    align-self: center;
    display: flex;
    align-items: center;
    border: none;
}

.primaryAction {
    margin: 0;
    box-shadow: var(--shadow);
    width: 58%;
    background: rgba(255, 255, 255, 0.90);
}

.secondaryAction {
    margin: 0;
    width: 33%;
    background: rgba(255, 255, 255, 0.60);
}


/* --- Text Dots Animation (for loading) --- */

.loadingDotsContainer {
  display: inline-flex;
  flex-direction: row;
  align-items: baseline; 
  margin-right: 4px;     
  direction: ltr;        
}

.dot {
  width: 4px;
  height: 4px;
  margin: 0 1.5px;
  background-color: currentColor;
  border-radius: 50%;
  display: inline-block;
  opacity: 0;
  
  animation: dotFade 1.4s infinite ease-in-out both;
}

@keyframes dotFade {
  0%, 100% { 
    opacity: 0.2; 
    transform: scale(0.8);
  }
  50% { 
    opacity: 1; 
    transform: scale(1.2);
  }
}

/* order of animation: right to left */
.dot:nth-child(3) {
  animation-delay: 0s;   
}
.dot:nth-child(2) {
  animation-delay: 0.2s;   
}
.dot:nth-child(1) {
  animation-delay: 0.4s;   
}