 .activeFilterButton{
  border-radius: 30px;
  border: 1px solid var(--border-color);
  background: rgba(175, 207, 207, 0.73);
  display: flex;
  padding: 2px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #21211F;
  text-align: right;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  display: block;
  margin: 20px auto 20px auto;
  transition: background 0.2s, box-shadow 0.2s;
}


.filterButtonsRow {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}

.filterButton {
  background: none;
  border: none;
  font-size: 1rem;
  font-family: inherit;
  cursor: pointer;
  display: flex;
  padding: 2px 10px;
  justify-content: center;
  align-items: center;
  color: #21211F;
  text-align: right;
  font-weight: 400;
  margin: 20px auto 20px auto;
}
