.googleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  
  width: 100%;
  max-width: 18.75rem;
  padding: 0.75rem 1.5rem;
  margin-bottom: 2.063rem;
  
  background-color: var(--color-background);
  
  border: none; 
  border-radius: 3.7rem;
  
  color: var(--color-texts-light);
  font-family: var(--font-body);
  font-size: 1.375rem; 
  font-weight: 400;
  line-height: normal;
  text-align: center;
  
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative; 
}

.googleButton:hover {
  background-color: var(--color-background);
  transform: translateY(-0.125rem);
}

/* Special class for the button with icon (for users) */
.withIcon {
  justify-content: space-between; 
  direction: ltr; /* to make the icon on the left and text on the right */
}

/* When there is an icon, we want the text to take up the space to look good */
.withIcon span {
    flex: 1;
    text-align: right;
}

.adminButton {
  width: auto;
  min-width: 10rem;
  padding: 0.75rem 2rem;
}

.spinner {
  width: 1rem;
  height: 1rem;
  border: 0.125rem solid var(--color-primary-light);
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: rotation 1s linear infinite;
  margin: auto;
}

@keyframes rotation {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
