.googleButton {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4.813rem;
  
  width: 100%;
  max-width: 18.75rem;
  padding: 0.75rem 1.5rem;
  
  background-color: var(--color-background);
  
  border-radius: 3.7rem;
  border: none;
  
  color: var(--color-texts-light);
  font-family: var(--font-body);
  font-size: 1.375rem;
  font-weight: 400;
  line-height: normal;
  text-align: right;
  
  cursor: pointer;
  transition: all 0.3s ease;
}

.googleButton:hover {
  background-color: var(--color-background);
  transform: translateY(-0.125rem);
}

.googleButton:active {
  transform: translateY(0);
}

.spinner {
  width: 1rem;
  height: 1rem;
  border: 0.125rem solid var(--color-texts-light);
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: rotation 1s linear infinite;
  margin: auto;
}

@keyframes rotation {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}