/* .loginForm {
  width: 100%;
  max-width: 20rem;
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.loginForm label {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

.errorMessage {
  color: rgba(255, 0, 0, 0.805);
  font-size: 0.8rem;
  margin: 0.5rem 0;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding:  2rem 2rem 2rem 2rem;
}

.loginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  position: relative;
  justify-content: space-between;
}

/* .flowerIcon {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
  height: auto;
} */

.loginHeader {
  font-size: 2.25rem;
  margin-bottom: 1rem;
  letter-spacing: -0.36px;
  font-weight: 500;
  color: var(--color-texts-dark);
  text-align: center;
  align-items: center;
  width: 100%;
  padding-top: 5rem;
}

.divider {
  width: 73%;
  height: 1px;
  background-color: white;
  margin: 1rem auto 2rem auto;
}
