.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.875rem;
}

.groupsList {
  display: flex;
  flex-direction: column;
  gap: 0.75rem; /* Adds spacing between cards */
}

.emptyState {
  color: var(--text-dark-2);
  text-align: center;
  margin-top: 2.5rem;
  padding: 1.25rem;
  border-radius: 0.5rem;
}