.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.groupsList {
  display: flex;
  flex-direction: column;
  gap: 12px; /* Adds spacing between cards */
}

.emptyState {
  color: var(--text-dark-2);
  text-align: center;
  margin-top: 40px;
  padding: 20px;
  border-radius: 8px;
}