.dashboardPage {
  padding-bottom: 2.5rem;
}

/* --- Header Section --- */
.headerContainer {
  margin-bottom: 1.5625rem;
}

.title,
.dateText {
  color: var(--text-dark-1);
}

.title {
  margin-bottom: 0.4rem;
}

.adminNavBarWrapper {
  margin: 1.875rem 0;
}

/* --- Layout --- */
.announcementWrapper {
  margin-bottom: 1.5625rem;
}

.gridContainer {
  display: grid;
  gap: 1.25rem;
}

/* --- Activities Panel --- */
.activitiesHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.activitiesTitle {
  color: var(--text-dark-1);
  text-align: right;
  margin: 0;
}

.activitiesBadge {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  background: var(--input-background);
  padding: 0.4rem 0.8rem;
  border-radius: 1.25rem;
  gap: 0.875rem;
  color: var(--text-dark-2);
  font-weight: 400;
  line-height: 1.25rem;
  box-shadow: var(--shadow);
}

.activitiesList {
  max-height: 18.75rem;
  overflow-y: auto;
}

/* --- Empty State --- */
.emptyStateContainer {
  text-align: center;
  padding: 2.5rem 0;
  border-radius: 0.75rem;
}

.emptyStateText {
  color: var(--text-dark-2);
  margin: 0;
}

/* --- Requests Panel --- */
.clickableCardWrapper {
  cursor: pointer;
  text-decoration: none;
  display: block;
}

.requestCard {
  background: var(--light-blue-color);
  padding: 0.5rem 1rem;
  border-radius: 1.8125rem;
  backdrop-filter: blur(1.25rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.2s ease;
  margin-top: 0.75rem;
}

.requestCard:hover {
  transform: translateY(-0.125rem);
}

.requestInfo {
  display: flex;
  align-items: baseline;
  color: var(--text-dark-1);
}

.requestCount {
  font-weight: bold;
  padding: 0 0.375rem;
}

.iconsContainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  gap: 0.9375rem;
  z-index: 10;
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 0.625rem;
}

.profileIconLink {
  width: 3rem;
  height: 3rem;
  background-color: var(--input-background);
  border-radius: 50%;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  color: var(--text-dark-2);
  box-shadow: var(--shadow);
  transition: all 0.2s ease;
  text-decoration: none;
}

.profileIconLink:hover {
  transform: translateY(-0.125rem);
}

.logoutButton {
  background-color: var(--input-background);
  border-radius: 3.125rem;
  padding: 0.75rem 0.9375rem;  
  
  font-family: var(--font-body);
  font-size: 1.125rem;
  font-weight: 400;
  color: var(--text-dark-2);
  text-decoration: none;
  
  box-shadow: var(--shadow);
  border: none;
  
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.logoutButton:hover {
  transform: translateY(-0.125rem);
}