/* ParticipantDashboardClient.module.css */

.container {
  padding-bottom: 80px;
  max-width: 1200px;
  margin: 0 auto;
  gap: 30px;
  display: flex;
  flex-direction: column;
}

.header {
  column-gap: 30px;
}

.h2Light {
  font-weight: 300;
  font-size: 1.25rem;
  color: #21211F;
}

.mySectionTitle,
.mySectionTitle2 {
  font-size: 1.25rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  column-gap: 8px;
}

.mySectionTitle2 {
  margin-bottom: 30px;
}

.mySectionTitle {
  margin-bottom: 12px;

}


.headline {
    color: var(--text-dark-2);
    text-align: right;
    font-size: 1.25rem;
    font-weight: 400;
    align-self: center;
}


.exploreButton {
  border-radius: 30px;
  border: none;
  background: rgba(175, 207, 207, 0.73);
  display: flex;
  padding: 9px 42px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #21211F;
  text-align: right;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  display: block;
  margin: 0 auto 20px auto;
  transition: background 0.2s, box-shadow 0.2s;
}

.exploreButton:hover {
  background: rgba(175, 207, 207, 0.90);
}

.exploreButton:active {
  background: rgba(175, 207, 207, 0.55);
}

.mySectionText {
  text-align: right;
  margin-bottom: 30px;
}

.announcementsBox {
  margin-bottom: 30px;
}